@charset "UTF-8";
/* Base */
* {
  border-radius: 0;
  border: none;
  outline: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
  color: #111111;
}
a,
.link {
  color: #06c;
  text-decoration: none;
}
a:hover,
.link:hover {
  text-decoration: underline;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
}
/* Typo */
/* Import a Google Font */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosanstc/v35/-nFuOG829Oofr2wohFbTp9ifNAn722rq0MXz76CyzAlEsg.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/notosanstc/v35/-nFuOG829Oofr2wohFbTp9ifNAn722rq0MXz7_6yzAlEsg.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/notosanstc/v35/-nFuOG829Oofr2wohFbTp9ifNAn722rq0MXz76CyzAlEsg.ttf) format('truetype');
}
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/notosanstc/v35/-nFuOG829Oofr2wohFbTp9ifNAn722rq0MXz70e1zAlEsg.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.85);
}
body.zh-hk * {
  font-family: "Noto Sans TC", Microsoft JhengHei, "PingFang HK", "Helvetica Neue", "Heiti TC", "Microsoft JhengHei", Arial, sans-serif;
}
p {
  letter-spacing: 1px;
  margin-bottom: 1.15rem;
  text-align: justify;
  word-break: break-all;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.15;
  font-weight: bold;
}
h1 {
  margin-top: 0;
  font-size: 4.209em;
}
h2 {
  font-size: 3.157em;
}
h3 {
  font-size: 2.369em;
}
h4 {
  font-size: 1.777em;
}
h5 {
  font-size: 1.333em;
}
small,
.text_small {
  font-size: 0.75em;
}
button {
  cursor: pointer;
}
/*==========Firefox: remove the dotted outline==========*/
a:focus,
a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}
button:focus,
button:active {
  outline: 0 !important;
}
a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
}
.pc-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}
body {
  background: #fff !important;
}
.pc-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom: 2px solid #6c0;
  -webkit-box-shadow: 0px 2px 4px rgba(50, 50, 71, 0.06), 0px 2px 2px rgba(50, 50, 71, 0.06);
          box-shadow: 0px 2px 4px rgba(50, 50, 71, 0.06), 0px 2px 2px rgba(50, 50, 71, 0.06);
}
.pc-header__logo {
  height: 24px;
}
.pc-main {
  width: 100%;
  max-width: 491px;
  margin-top: 5px;
  padding: 25px 20px;
  background: #fff;
}
@media (max-width: 800px) {
  .pc-main {
    padding: 25px 2.5%;
  }
}
.pc-main__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 27px;
  font-weight: bold;
}
.pc-main__subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.pc-main__desc {
  font-size: 16px;
}
.hide {
  display: none;
}
.pc-main--lg {
  width: 960px;
  max-width: 100%;
}
@media (max-width: 800px) {
  .pc-main--lg {
    width: 480px;
  }
}
.pc-main__form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.08), 0px 16px 16px rgba(50, 50, 71, 0.08);
          box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.08), 0px 16px 16px rgba(50, 50, 71, 0.08);
}
@media (max-width: 800px) {
  .pc-main__form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.pc-main__form-col {
  width: 50%;
}
.pc-main__form-col--pd {
  padding: 20px;
}
@media (max-width: 800px) {
  .pc-main__form-col {
    width: 100%;
  }
}
.pc-main__form-kv {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
}
@media (max-width: 800px) {
  .pc-main__form-kv {
    height: 30vw;
  }
}
.pc-main__form-wrapper {
  padding: 20px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.08), 0px 16px 16px rgba(50, 50, 71, 0.08);
          box-shadow: 0px 24px 32px rgba(50, 50, 71, 0.08), 0px 16px 16px rgba(50, 50, 71, 0.08);
}
.pc-form-element {
  margin-bottom: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.pc-form-label {
  display: inline-block;
  padding-bottom: 3px;
  font-size: 12px !important;
  color: #666;
}
.pc-form-control {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pc-form-input {
  width: 100%;
  padding: 0 16px;
  height: 48px;
  border: 1px solid #ccc !important;
  border-radius: 8px;
  font-size: 16px !important;
}
.pc-form-select {
  width: 85px !important;
  padding: 0 16px;
  height: 48px !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  font-size: 16px !important;
  line-height: 48px;
}
.pc-align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pc-align-center .slds-form-element__label {
  margin-left: 8px;
}
.pc-form-input,
.pc-form-select {
  color: #333;
}
.pc-form-input:disabled {
  background-color: rgba(238, 238, 238, 0.5) !important;
  color: #ccc;
}
.pc-form-select:disabled {
  background-color: rgba(238, 238, 238, 0.5) !important;
  color: #ccc;
}
.pc-form-dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 8px;
}
.pc-phone-textbox {
  width: calc(100% - 109px);
}
.pc-form-input.disabled::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.pc-form-input.disabled::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.pc-form-input.disabled:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.pc-form-input.disabled::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.pc-form-input.disabled::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 1;
  /* Firefox */
}
.pc-form-input.disabled:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ccc;
}
.pc-btn-input-edit {
  position: absolute;
  right: 16px;
  top: 14px;
  background: none;
  font-size: 14px;
  letter-spacing: 0.25px;
  color: #666;
  -webkit-appearance: button;
}
.pc-form-title {
  margin-top: 20px;
  font-size: 20px;
  color: #666;
}
.pc-form-subtitle {
  margin-top: 20px;
  font-size: 16px;
  color: #666;
}
.pc-form-boldtitle {
  margin: 40px 0 30px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #000;
}
.slds-checkbox--faux,
.slds-checkbox_faux {
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #eee !important;
  border-radius: 2px;
  -webkit-transition: none !important;
  transition: none !important;
}
.slds-checkbox.slds-checkbox_standalone {
  position: absolute;
  display: inline-block !important;
  right: 0;
  bottom: 5px;
  width: 21px;
}
.slds-checkbox.slds-checkbox_standalone.pc-form-inline {
  margin-top: 14px;
  position: relative;
}
.slds-checkbox [type=checkbox] {
  width: 20px !important;
  height: 20px !important;
}
.slds-checkbox [type=checkbox]:checked + .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:checked + .slds-checkbox_faux,
.slds-checkbox [type=checkbox]:checked ~ .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:checked ~ .slds-checkbox_faux,
.slds-checkbox [type=checkbox]:checked .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:checked .slds-checkbox_faux {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  background: #6c0 !important;
}
.slds-checkbox [type=checkbox]:focus + .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:focus + .slds-checkbox_faux,
.slds-checkbox [type=checkbox]:focus ~ .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:focus ~ .slds-checkbox_faux,
.slds-checkbox [type=checkbox]:focus .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:focus .slds-checkbox_faux {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid #eee !important;
}
.slds-checkbox [type=checkbox]:focus:checked > .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:focus:checked > .slds-checkbox_faux,
.slds-checkbox [type=checkbox]:focus:checked ~ .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:focus:checked ~ .slds-checkbox_faux,
.slds-checkbox [type=checkbox]:focus:checked .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:focus:checked .slds-checkbox_faux,
.slds-checkbox [type=checkbox]:focus:checked + .slds-checkbox__label .slds-checkbox--faux,
.slds-checkbox [type=checkbox]:focus:checked + .slds-checkbox__label .slds-checkbox_faux {
  border: none !important;
}
.slds-checkbox--faux:after {
  height: 8px !important;
  width: 14px !important;
  top: 8px !important;
  left: 10px !important;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
          transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  border-bottom: 2px solid #fff !important;
  border-left: 2px solid #fff !important;
}
.slds-form-element__label {
  font-size: 12px;
  letter-spacing: 0.4px;
}
.pc-form-border {
  height: 1px;
  background: #eee;
  margin: 20px 0;
}
.pc-form-issues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.pc-form-issue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 330px;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 8px;
  border: 1px solid #6c0;
  border-radius: 4px;
  font-size: 21px;
  line-height: 1em;
  letter-spacing: 0.15px;
  color: #333;
  vertical-align: text-bottom;
  cursor: pointer;
}
.pc-form-issue span {
  pointer-events: none;
}
.pc-form-issue small {
  font-size: 16px;
  line-height: 21px;
  margin-left: 0.3em;
}
.pc-form-issue:nth-child(3n) {
  margin-right: 0;
}
.pc-form-issue.pc-selected {
  border-color: #6c0;
  background-color: #6c0;
  color: #fff;
}
.pc-btn-green {
  width: 100%;
  height: 54px;
  border-radius: 4px;
  background: #6c0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.15px;
}
.pc-btn-orange {
  width: 100%;
  height: 54px;
  border-radius: 4px;
  background: #ff8100;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.15px;
}
.pc-thankyou .pc-main {
  padding-top: 15px;
}
.pc-thankyou .pc-main__form-wrapper {
  padding: 40px 30px;
}
.pc-thankyou .pc-main__title {
  max-width: 360px;
  margin: 0 auto 20px;
  font-size: 24px;
  line-height: 39px;
}
.pc-thankyou .pc-main__subtitle {
  margin-bottom: 30px;
}
.pc-thankyou .pc-main__subtitle {
  font-size: 16px;
}
.pc-thankyou .pc-btn-green {
  margin-top: 20px;
}
.pc-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pc-social-facebook,
.pc-social-tweeter,
.pc-social-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 43px;
  height: 43px;
  margin-right: 20px;
  border-radius: 4px;
}
.pc-social-facebook {
  background: linear-gradient(237.38deg, #4D70BA 0%, #3B5999 100%);
}
.pc-social-tweeter {
  background: linear-gradient(237.38deg, #4DB5F5 0%, #1DA1F2 100%);
}
.pc-social-instagram {
  margin-right: 0 !important;
  background: linear-gradient(237.38deg, #EA6D84 0%, #E4405F 100%);
}
#page-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10001;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#page-loading.hide {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#page-loading .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#page-loading .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #6c0;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
          animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
#page-loading .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
          animation: lds-ellipsis1 0.6s infinite;
}
#page-loading .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
#page-loading .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
          animation: lds-ellipsis2 0.6s infinite;
}
#page-loading .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
          animation: lds-ellipsis3 0.6s infinite;
}
@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}
@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(24px, 0);
            transform: translate(24px, 0);
  }
}
